* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Poppins', sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%; 
}
.wrapper {
	margin: 0px;
  width: 100%;
  height: 30%;
}
*{
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX1CuhOTAgw_3moHkMLdqruHeKny9NsjMk1A&usqp=CAU);
  width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
  margin-top: 2%;
	width: 80%;
  height:40%;
  margin-right: 0%;
  margin-bottom:0%;
  text-align: right;
}
.nav-area li {
	display: inline;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 1% 5%;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
  width : 15%;
  height: 60%;
  margin-bottom: 0%;
}
.logo img {
	width: 100%;
  height: 100%;
	padding: 1%;
}
.welcome-text {
	width: 100%;
	height: 10%;
	margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
	text-align: center;

}
.welcome-text h1 {
	text-align: center;
	color: #fff;
  
	text-transform: uppercase;
	font-size: 150%;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 0%;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}

#About{
  text-align: center;
	color: #fff;
  width: 80%;
  margin-left:10%;
  margin-right:10%;
}